<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="/signup">

    <label for="username">User Name</label>
    <input id="username" name="username" type="text">

    <label for="password">Password</label>
    <input id="password" name="password" type="password">

    <label for="firstName">First Name</label>
    <input  placeholder="Enter your first name" id="firstName" name="firstName" />

    <label for="lastName">Last Name</label>
    <input  placeholder="Enter your last name" id="lastName" name="lastName" />


    <label for="dateOfBirth">Date of birth</label>
    <input type="date" placeholder="Enter your date of birth" id="dateOfBirth" name="dateOfBirth" />


    <label for="bio">Message</label>
    <input type="text" placeholder="Enter your bio " id="bio" name="bio">

    <button type="submit">Sign up</button>

</form>

</body>
</html>